/* --------------------------------------------------
  Global resets
-----------------------------------------------------*/

html {
  background: #f7f7f7;
}

body {
  
  font-weight: 500;
  font-style: normal;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  
  font-weight: 200;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 1em;
  direction: ltr;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
    font-size: 18px;
    line-height: 30px;
 
}

a:focus {
  color: #179b78;
  outline: none;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}
.tophead{
    min-height: 200px;
    text-align: center;
    background-color: #179b78;
    display: flex;
    align-items: center;
}
.meetfavourite{
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
#motto{
    font-family: 'Playball',cursive;
    font-size: 80px;
    color: white;
    
}
.button {
  font-family: Lato, Arial, sans-serif;
  font-weight: 700;
  width: auto;
  background: #179b78;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.tabActive {
  background: #179b78;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* --------------------------------------------------
   top navigation styles
-----------------------------------------------------*/

/*nav.mainNav {
  background-color: #179b78;
  top: 0;
}

nav.mainNav ul, nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 0;
}

nav.mainNav ul li a {
  font-weight: 400;
  font-size: 1em;
  color: white;
  margin: 0 1em;
  padding: 1em .25em;
  display: block;
  max-width: 5em;
  box-sizing: content-box;
}

nav.mainNav ul li:hover {
  background: #333;
}*/

/* --------------------------------------------------
   book category navigation styles
-----------------------------------------------------*/

.bookNav {
  list-style: none;
  margin-bottom: 0.5em;
}

.bookNav li {
  border-right: 1px solid;
  cursor: pointer;
}

.bookNav li a {
  font-size: 1.2em;
  margin: 0 1em;
  padding: .25em .25em;
  display: block;
  border-color: #179b78;
  font-family: 'Raleway', sans-serif;
}

.bookNav ul li:hover {
  background: #179b78;
  color: white;
  transition-duration: 0.5s;
}

/* --------------------------------------------------
  header styles
-----------------------------------------------------*/

header {
  margin-bottom: 2em;
  width: 100%;
  min-height: 500px;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../images/bookflower.jpg);
    
  background-size: cover;
}

header h1 {
  font-size: 6em;
  font-weight: 500;
  margin-bottom: 2em;
  margin: 0px 15px 15px 30px;
  line-height: 100px;
  text-align: center;
   font-family: 'Playball',cursive;
    color: white;
   
}
.welcome{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 2px solid #179b78;
    border-top: 2px solid #179b78;
}
.welcome h3{
    margin: 20px 40px;
    font-size: 2em;
    color:aliceblue;
    font-family: 'Raleway', sans-serif;
    
}
.quote{
    margin: 40px 0;
    min-height: 50px;
    padding: 20px;
    background-color: rgba(208, 225, 225, 0.3);
    
}
.quote h3{
    font-family: 'Playball',cursive;
    font-size: 1.7em;
}
.quote p{
    float: right;
}
header h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

/* --------------------------------------------------
  main content styles
-----------------------------------------------------*/

/*.bookList {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.bookList {
  display:'none';
}

.book img {
  margin-bottom: .5em;
}

.bookList>p {
    color: lightslategray;
    font-style: italic;
    font-size: 1em;
}

section.book p {
  margin-bottom: .4em;
}

section.book span {
  color: red;
}

section.book p:nth-child(2) {
  line-height: 1.5;
  font-weight: 510;
}

section.book p:nth-child(3) {
  font-size: 0.9em;
  font-weight: lighter;
  color: #666;
}

/*Post button*/

.gallery a.button:hover {
  background: #006c4c;
  transition-duration: 0.5s;
}

.gallery a.button:visited {
  color: white;
}

/* --------------------------------------------------
   sidebar styles
-----------------------------------------------------*/

.sidebar {}

aside h3 {
  color: #333;
  font-size: 1.6em;
  margin-top: 2em;
  margin-bottom: .4em;
    font: 48px/50px 'Playball', sans-serif;
}

aside p {
      color: #6f6f6f;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
   
}

ul.social {
  list-style: none;
  margin-top: 2.3em;
  border-top: 1px solid #999;
  padding-top: 2.3em;
}

ul.social li a {
  text-indent: -9000px;
  width: 3em;
  height: 3em;
  display: block;
}

ul.social a.facebook {
  background: url(../images/Facebook.png) no-repeat;
  object-fit: contain;
  background-size: cover;
}

ul.social a.facebook:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

ul.social a.twitter {
  background: url(../images/twitter.png) no-repeat;
  background-size: cover;
}

ul.social a.twitter:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

/* --------------------------------------------------
   go to top button
-----------------------------------------------------*/

#goToTopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 20px;
  /* Place the button 30px from the right */
  z-index: 9;
  /* Make sure it does not overlap */
  background: none;
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  opacity: 0.3;
  transition-duration: 0.5s;
  /*padding: 15px; /* Some padding */
  /*background-color: #58cda7; /* Set a background color */
  /*color: white; /* Text color */
  /*border-radius: 10px; /* Rounded corners */
}

#goToTopBtn img {
  width: 50px;
  height: 50px;
}

#goToTopBtn:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

/* --------------------------------------------------
   spotLight  styles
-----------------------------------------------------*/

.spotLight h2 {
  background: #179b78;
  margin-bottom: 1em;
  color: white;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 45px;
  padding-left: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.spotLight>article {
  margin-right: 2em;
  border: 1px solid #999;
}

.spotLight p {
  line-height: 2em;
}

.spotLight h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
    font-family: "Open Sans", sans-serif;
}

.spotLight h4 {
  font-size: 1.5em;
  padding: 0 0.8em;
  margin-bottom: 1em;
    font-family: 'Raleway', sans-serif;
}

.spotLight h4 span {
  font-size: 0.8em;
  color: #666;
  font-weight: lighter;
  font-style: italic; 
}

.spotLight article>p {
  padding: 0 1em;
}

.spotLight a:visited {
  color: white;
}

.spotLight>article:last-child {
  margin-right: 0;
}

.spotLight .button {
    line-height: 2;
    font-family: 'Raleway', sans-serif;
}

/* --------------------------------------------------
   footer styles
-----------------------------------------------------*/

footer {
  background: #e1eaea;
  width: 100%;
}

footer p {
  font-size: .8em;
  margin: 0;
  color: black;
}

/* --------------------------------------------------
   Smaller screen styles
-----------------------------------------------------*/

@media only screen and (max-width: 720px) {
  .right, .left {
    float: none;
  }
  /* --------------------------------------------------
   top navigation styles
-----------------------------------------------------*/
  /*nav.mainNav {
    margin-bottom: 1em;
    background: none;
  }
  nav.mainNav li {
    margin-bottom: .2em;
    background: #179b78;
  }
  nav.mainNav ul li a {
    padding: .5em .25em;
  }
  nav.mainNav ul li a {
    max-width: 100%;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.2em;
  }*/
  /* --------------------------------------------------
	   main content styles
	-----------------------------------------------------*/
  .bookNav li {
    border-right: none;
    border-bottom: 1px solid;
  }
  .bookList>section p {
    text-align: center;
  }
  /* --------------------------------------------------
 spotlight content styles
-----------------------------------------------------*/
  .spotLight>article {
    margin-right: 0em;
  }
}

/* --------------------------------------------------
   book category navigation styles
-----------------------------------------------------*/

@media only screen and (max-width: 480px) {
  #goToTopBtn {
    display: none;
  }
  /* --------------------------------------------------
   top navigation styles
-----------------------------------------------------*/
  /*nav.mainNav ul li a {
    font-size: 1.4em;
  }*/
}
