body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    margin:0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.navbar {
      margin-bottom: 0;
      background-color: #179b78;

      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family:  sans-serif;
    display: block;
    position: fixed;
    right: 0;
    left:0;
  }
.navcontent{
    width: 970px;
    padding-right: 10px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
}
.navcontent ul, .subnav-top ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: right;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 4px;
}
.navcontent li{
    float:right;

    display: block;
}
.navcontent li a,.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

#writepost:hover, .dropdown:hover .dropbtn{
    background-color: #111;
}
#writepost{
    background-color: #85adad;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: WHITE;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #595959}

.dropdown:hover .dropdown-content {
    display: block;
}

.jumbotron {
      background-image: url(../images/bookbg.jpg);
      padding: 70px 25px;
      font-family: sans-serif;

}
h1{
    text-align: center;
    font-weight: 500;
    font-size: 63px;
}
.jumbotron p{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
.maincontent{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}
.subnav-top ul {
    letter-spacing: 1px;
    padding: 0px;
    margin: 20px 0px;
}
.subnav-top li{
    float: left;
    padding: 0px 10px;
    border-right: 1px solid;
    border-color:#179b78;

}
.subnav-top li a{
    color: black;
    font-size: 20px;
    text-decoration: none;

}
.subnav-top li:hover:not(.active) {
    background-color: #179b78;
}
.subnav-top li a:hover{
    color: white;
}
h2{
    margin-bottom: 10px;
}
.booklist{
    display: flex;
    flex-wrap: wrap;
}

.booklist>div{
    margin: 25px;
    flex: 0 1 calc(25% - 50px);
    display: flex;
    flex-direction: column;
}
.booklist div img{
    width: 100%;
    height: 270px;
}
.btn{
    margin: 15px 0px;
    padding: 15px;
    float: right;
    background-color: #179b78;
    color: white;
    font-family:sans-serif;
}
.tabActive {
    background-color:#1ab188;
}
.tabActive a{
    color:#ffffff;
}
.book {
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    clear:both;
}
#title{
    width: 200px;
    background-color: #179b78;
    color: white;
    padding: 0 10px;
}

#title h2::first-letter {
    text-transform:capitalize;
}
footer{
    position: relative;
    height: 250px;
    background-color: #e1eaea;
}
.footercontainer{


    position: absolute;

    left: 35%;
    margin-top: 20px;

    width: 500px;
    height: 180px;
}
.social-btn{
    margin-left: 20px;
}
.social-btn img{
    width: 53px;
    height: 50px;
    margin: 0 15px;
}
.footermenu ul{
    list-style-type: none;
    padding-left: 20px;
}
.footermenu li{
    display: inline-block;
    margin: 0 25px;

}
.footermenu a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.subcribe form{
    width:500px;
    display: flex;
    flex-direction: row;


}
#subcribe-btn{
    padding:12px;
    background-color:  #179b78;
    color: white;
    font-family:sans-serif;
    margin-top: 6px;
    margin-left: 10px;
    letter-spacing: 4px;
}
