.postModal #modalHeader {
    text-align: center;
    color: #1ab188;;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin-bottom: 12px;
    font-weight: 500;
}

.postModal .title{
    font-size: 17px;
    font-weight: bold;
    color: #179b78;
}

#postForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
}

.buttonSend {
  margin-top: 12px;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  width: 100%;
  align-self: center;
}
.buttonSend:hover {
    cursor: pointer;
    background: #179b78;
}

.postModal input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.postModal input[type=file] {
    margin-top: 6px;
}

.categorybook {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2%;
}

.categorybook label {
  flex: 1;
}

.categoryCheckbox {
    margin: 0 10px;
}

.categoryCheckbox input {
    margin-left: 5px;
}