.news>section {
  background: white;
}

.postcontent h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5em;
}

.postcontent p {
  margin-bottom: 0.5em;
  line-height: 1.5;
  color: #6f6f6f;
  text-align: justify;
}

.citeAuthor {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
   font-family: 'Raleway', sans-serif;
}
time{
    font-family: 'Raleway', sans-serif;
    font-style: italic
}
