@charset "UTF-8";
*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.tophead{
    display: none;
}
.welcome{
    display: none;
}
.banner h1{
    padding-top: 60px;
}
.toggle-nav {
  display: none;
}

.mobile-bar {
  z-index: 5;
  position: relative;
  height: 60px;
  background-color: #179b78;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.mobile-bar label {
  position: absolute;
  top: 0;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
    z-index: 10;
}

.mobile-bar label:after {
  content: "\2630";
  font-size: 2em;
  color: #eee;
  line-height: 60px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.toggle-nav:checked~.container {
  -webkit-transform: translateY(250px);
  transform: translateY(250px);
  -webkit-transform: translate3d(0, 250px, 0);
  transform: translate3d(0, 250px, 0);
}

.toggle-nav:checked+.mobile-bar label {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toggle-nav:checked+.mobile-bar label:after {
  color: black;
}

.container {
  margin-top: -250px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.header {
  background-color: #f7f7f7;
  width: 100%;
}

.header ul {
  font-weight: 100;
  text-transform: uppercase;
    background-color: #179b78;
}

.header a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #eee;
  color: black;
    font-family: 'Lato', sans-serif;
    
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  width: auto
}

.header ul li:hover {
  background: #333;
  color: #ffffff;
  transition-duration: 0.5s;
}
.header a:hover{
    color: white;
}
.header ul li a:not(:only-child):after, .header ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

.header ul li ul li {
  min-width: 190px;
}

.header ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: relative;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: #179b78;
  height: 0;
}

.open {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.header li {
  -webkit-transition: all 0.2s;
}

.header li a {
  -webkit-transition: all 0.5s;
}

.header li ul {
  -webkit-transition: all 1s;
}

.header li ul li {
  -webkit-transition: height 0.5s;
}



@media (min-width: 720px) {
    .tophead{
        display: flex;
    }
    .welcome{
        display:flex;
    }
  .mobile-bar {
    display: none;
  }
  .header {
    height: 60px;
  }
  
  .toggle-nav:checked~.container {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .container {
    margin-top: 0;
    -webkit-transition: none;
    transition: none;
  }
  .header ul:first-child {
    font-size: 1.1em;
    display: flex;
    justify-content: flex-end;
      height:100%;
      background: #f7f7f7;
  }
  .header li {
    padding: 10px 0px;
  }
  .header a {
    padding: 10px 20px;
    border-bottom: none;
  }
  .submenu a {
    width: 200px;
  }
  .nav-dropdown {
    margin-top: 8px;
  }
  .nav-dropdown li:first-child {
    border-bottom: 1px solid #eee;
  }
}
